.app-title {
	height: 10%;
	border-bottom: 3px solid #DEE1DA;

	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		color: #828A95;
		font-family: 'Rubik', sans-serif;
		margin: 0;
		padding: 0;
	}
}