.left-panel {
	border-right: 1px solid #DEE1DA;
	padding: 10px;
	overflow: hidden;
	transition: width 0.5s;

	.channel-names {
		margin-top: 10px;
	}

	&.expanded {
		width: 25%;
	}

	&.decreased {
		width: 5%;
	}
}