body {
    height: 100vh;
	overflow-y: hidden;
	margin: 0;
	font-family: Verdana;
	font-size: 16px;
	background-color: #FFFEFD;


	.chat-area, .left-panel, .right-panel {
		height: 100%;
		float: left;
	}

	.chat-area {
		width: 80%;

		&.decreased {
			width: 80%;
		}
	}

	.left-panel {
		width: 10%;
	}

	.right-panel {
		width: 10%;
	}

	.glyphicon {
		cursor: pointer;

		&:hover {
			color: #ffa500;
			text-shadow: 0px 0px 1px #555; // offset-x | offset-y | blur-radius | color
		}

		&:active {
			color: #c68000;
		}
	}

}
