body {
	margin:0;
	font-family: Verdana;
	font-size:16px;
	background-color: #ffd700;

	.app-title {
		h1 {
			color: #F24236;
			font-size: 40px;
			font-family:'Roboto', sans-serif;
			text-align: center;
			border-bottom: 3px solid #0D21A1;
      border-radius: 10px;
		}
	}

	.messages {
    overflow: scroll;
    height: 540px;

		.message {
			display: inline-block;
			border:2px solid #0D21A1;
			border-radius:5px;
			background-color: white;
			padding: 10px;
			padding-bottom: 0;
			margin: 5px;
		}
	}

	.input-area {
		width:100%;
		position:fixed;
		bottom:0;
		padding:10px;
		background-color:#ffd700;
		border-top:2px solid #0D21A1;
	}
}