body {
    height: 100vh;
	overflow-y: hidden;
	margin: 0;
	font-family: Verdana;
	font-size: 16px;
	background-color: #FBF5F3;

	.chat-area, .left-panel, .right-panel {
		height: 100%;
		float: left;
	}

	.chat-area {
		width: 80%;

		&.decreased {
		width: 70%;
	}
	}

	.left-panel {
		width: 10%;
	}

	.right-panel {
		width: 10%;
	}
}